{% load static %}
{% comment %} Vendor JS {% endcomment %}
  <script src="{% static 'majestic-thema/vendors/base/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'majestic-thema/js/off-canvas.js' %}"></script>
  <script src="{% static 'majestic-thema/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'majestic-thema/js/template.js' %}"></script>
  <script src="{% static 'majestic-thema/js/dashboard.js' %}"></script>
  <script src="{% static 'majestic-thema/js/data-table.js' %}"></script>
  <script src="{% static 'majestic-thema/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'majestic-thema/js/dataTables.bootstrap4.js' %}"></script>

  <!-- Sweetalert2 -->
  <script src="{% static 'vendor/sweetalert2/sweetalert2.all.min.js' %}"></script>