{% load static %}

{% comment %} vendor CSS {% endcomment %}
  <link rel="stylesheet" href="{% static 'majestic-thema/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'majestic-thema/vendors/base/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'majestic-thema/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'majestic-thema/css/style.css' %}">

{% comment %} custom CSS {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">