
{% extends 'templates.html' %}
{% load static %}

{% comment %} CSS {% endcomment %}
{% block app_style %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %} "> {% endcomment %}
{% endblock app_style %}

{% comment %} CONTENT {% endcomment %}
{% block content_header %}
{% endblock content_header %}

{% block content %}

    <div class=" mr-3">
    {% comment %} header {% endcomment %}
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                  <div class="ml-4 ml-xl-5 mt-3">
                    <h2>{{page_judul}}</h2>
                    <p class="mb-md-0">{{page_deskripsi}} </p>
                  </div>
              </div>
              <div class="d-flex align-items-end flex-wrap">

                <div class="mr-4 mr-xl-4 ml-4 pt-3">
                    <a class="btn btn-outline-success btn-icon-text" href="{% url 'mw:user-create' %}" 
                    {% comment %} style="box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.35), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);" {% endcomment %}
                    >
                      <i class='mdi mdi-hospital btn-icon-prepend'></i> Tambah {{page_role}}
                    </a>

                </div>

              </div>
            </div>
          </div>
        </div>
      <br>
{% comment %} content {% endcomment %}
              <div class="card">
                <div class="card-header alert-warning" >
                  {% comment %} <h6> <u> Perhatian </u>: pastikan memilih separator sesuai dengan format user .csv </h6> {% endcomment %}
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="coba" class="table table-hover">
                      <thead>
                        <tr>
                            <th width="5%">No</th>
                            <th >Nama</th>
                            <th >Username</th>
                            <th >Email</th>
                            {% comment %} <th >Role User</th> {% endcomment %}
                            <th width="13%">Kelola</th>
                        </tr>
                      </thead> 
                      <tbody>
                            
                            {% for user in users %}
                              <tr>
                                <td class='text-center'>{{forloop.counter}} </td>
                                <td> {{user.first_name}} {{user.last_name}} </td>   
                                <td> {{user.username}} </td>   
                                <td> {{user.email}} </td>   
                                {% comment %} <td> {{user.role.nama}} </td>    {% endcomment %}
                                <td>
                                    <a class="btn btn-outline-primary btn-fw" href="{% url 'mw:user-detail' user.id %}" title='detail {{user}} '>
                                      <i class="mdi mdi-book-open-page-variant"></i></a>
                                    <a class="btn btn-outline-warning btn-fw" href="{% url 'mw:user-update' user.id %}" title='edit {{user}}'>
                                      <i class="mdi mdi-eyedropper"></i></a>
                                    <a id="delete-data" class="btn btn-outline-danger btn-fw" href="{% url 'mw:user-delete' user.id %}" title=' {{user}}'>
                                      <i class="mdi mdi-delete-forever"></i></a>
                                </td>
                              </tr>        
                            {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

    </div>
{% endblock content %}


{% comment %} JAVASCRIPTS {% endcomment %}
{% block app_scripts %}
    <script>
    (function($) {
        'use strict';
        $(function() {
            $("#user").addClass('active');
            
            $('#coba').DataTable({
                "aLengthMenu": [
                    [5, 10, 15, -1],
                    [5, 10, 15, "All"]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: "search : "
                },
                searching: true, paging: true, info: true
            });

            {% if messages %}
              {% for message in messages %}
                swal({
                  type: 'success',
                  title: 'Berhasil!',
                  text: '{{message}}',
                  timer: 2500
                });
              {% endfor %}
            {% endif %}

            // action add update

              // delete
              $('body').on('click', '#delete-data', function (event) {
                  event.preventDefault();
                  var me = $(this),
                      url = me.attr('href'),
                      title = me.attr('title'),
                      csrf_token = $("[name=csrfmiddlewaretoken]").val();
                  swal({
                      title: 'Apakah Anda Yakin ?',
                      text: 'ingin menghapus ' + '"'+ title +'"',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Hapus',
                      cancelButtonText: 'Batal'
                  }).then((result) => {
                  if (result.value) {
                      $.ajax({
                          url: url,
                          type: "POST",
                          data: {
                              'csrfmiddlewaretoken': csrf_token
                          },
                          success: function (response) {
                              setTimeout(function () { location.reload();}, 2600);
                              swal({
                                  type: 'success',
                                  title: 'Success!',
                                  text: 'Data ' + '"'+ title +'"'+ ' berhasil dihapus!',
                                  timer: 2500

                              });
                          },
                          error: function (xhr) {
                              swal({
                                  type: 'error',
                                  title: 'Oops...',
                                  text: 'Something went wrong!'
                              });
                          }
                      });
                  }
                  });
              });



        });
    })(jQuery);
    </script>
{% endblock app_scripts %}
